div.container-social
    div.social
        img(src=require('./img/vk.png'))
        img(src=require('./img/insta.png'))
        img(src=require('./img/facebook.png'))
        img(src=require('./img/youtube.png'))
        img(src=require('./img/google_plus.png'))
